logs
*.html
target
project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.iml
*.txt
required.dat
choya/sbt-dist/
*/.idea
db/db.db
scraped/
.swp
.bloop/
.bsp/
.vscode/
.metals/
